{
    "presets": [
        "@babel/preset-env",
    ],
}
     //  "plugins": [,"stage-0","stage-3"
    //      [  "transform-class-properties",
    //          "transform-es2015-classes", {
    //              "loose": true
    //          }
    //      ]
    //  ]